/*默认按钮背景色*/
.bg-default{
    background-color: #eb6100;
}
/*灰色状态背景色*/
.bg-gray{
    background-color: #dce5ea;
}
/*操作成功的按钮背景色*/
.bg-success{
    background-color: #5cb85c;
}
/*提示信息的按钮背景色*/
.bg-warning{
    background-color: #f0ad4e;
}

/*通知信息的按钮背景色*/
.bg-info{
    background-color: #5bc0de;
}

/*文本居中*/

.txt-center{
    text-align: center;
}


/*banner 样式*/
.banner{
    width: 100%;
    height: 3rem;
    position: relative;
    overflow: hidden;
}
.banner img{

    height:auto;
}
.banner .mask-title{
    width: 100%;
    position: absolute;
    height: 0.7rem;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    color: #ffffff;
    line-height: 0.7rem;
    font-size:0.3rem;
    text-align: center;
    padding:0 0.25rem;
}
/*用户头像和名字的样式*/
.user-wrap{
    width:100%;
    position: relative;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    height: 3.5rem;
}
.user-wrap .user-img{
    width: 1.2rem;
    height: 1.2rem;
    margin:0.35rem auto 0.2rem auto;
    background-color: #dddddd;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;

}
.user-wrap .user-name{
    color: #a4a4a4;
    font-size:0.3rem;
}
.sign-btn{
    width: 4.5rem;
    height: 0.8rem;
    position: absolute;
    left: 50%;
    bottom: 0.2rem;
    color: #ffffff;
    font-size:0.45rem;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-border-radius: 0.15rem;
    -moz-border-radius: 0.15rem;
    border-radius: 0.15rem;
}
/*活动规则*/
.sign-ruler{
    margin: 0.2rem 0;
    background-color: #ffffff;
    font-size:0.26rem;
    padding:0.2rem 0.35rem;
}
.sign-ruler .ruler-title{
    color: #000;
    font-size: 0.36rem;
}
.sign-ruler p{
    line-height: 0.45rem;
}